@tailwind base;
@tailwind components;
@tailwind utilities;


$primary: #ffffff;
$secondary: #001534;
$tertiary: #003483;
$text: #000000;
$action: #00C2FF;


//media queries
$mobile: 768px;
$tablet: 1024px;
$desktop: 1440px;

@import "./navbar.scss";
@import "./hero.scss";
@import "./skills.scss";
@import "./projects.scss";
@import "./contact.scss";
@import "./wordsearch.scss";
@import "./maze.scss";
@import "./sudoku.scss";




body{
  overflow-x: hidden;
  // prevent scrolling to the right on mobile
  overflow-y: scroll;
}

html {
  font-size: 1rem;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
