@tailwind base;
@tailwind components;
@tailwind utilities;


$primary: #ffffff;
$secondary: #001534;
$tertiary: #003483;
$text: #000000;
$action: #00C2FF;

@import "./hero.scss";
@import "./skills.scss";
@import "./projects.scss";

html {
  font-size: 1rem;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
