@tailwind base;
@tailwind components;
@tailwind utilities;

$primary: #ffffff;
$secondary: #001534;
$tertiary: #003483;
$text: #000000;
$action: #00C2FF;

.hero-section {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 100vh;
}

.title-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 7%;
    padding-left: 13%;
    width: 50%;
}

.title {
    margin: 0;
    line-height: 1.25;
    background: linear-gradient(to right, #000000, #7281CF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
    // font-family: "outfit";
    // font-size: 115px;
}

.subtitle {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: $text;
}

.mini-projects-container {
    display: flex;
    margin-top: 7%;
    margin-left: 10%;
    width: 30%;
    height: 0; // padding trick to get a square div
    padding-bottom: 30%; 
    background-color: $secondary;
    border-radius: 30px;
}

.mini-projects {
    width: 100%;
    height: 100%;
}

.mini-projects-top-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    width: 100%;
}

.mini-projects-title {
    color: $primary;
    font-size: 24px;
    font-weight: 900;
    margin: 10px;
}

.mini-projects-description {
    color: $primary;
    font-size: 18px;
    margin: 30px;
}

.goto-next-project {
    color: $action;
    font-size: 24px;
    font-weight: 900;
    margin: 10px;
    text-align: right;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
